@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
.navbar {
  background-color: #F28775;
}
.navbar .jumbotron {
  height: 100%;
  width: 550px;
  margin-bottom: 0px;
}

.jumbotron {
  background-image: url(./images/ima_portada.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 80vh;
  border-radius: 0px;
  margin-bottom: 0;
}
.jumbotron .jumbotron p {
  font-size: 24px;
  color: #F9F6E4;
  -webkit-animation-direction: initial;
          animation-direction: initial;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

h2 {
  text-align: center;
  background-color: #F28775;
  color: #F9D9C0;
  padding: 10px;
  margin-bottom: 0;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes example {
  from {
    background-color: rgb(255, 255, 255);
  }
  to {
    background-color: #F9D9C0;
  }
}

@keyframes example {
  from {
    background-color: rgb(255, 255, 255);
  }
  to {
    background-color: #F9D9C0;
  }
}
.aboutme {
  height: 600px;
  width: 100%;
  background: #F9D9C0;
  margin-bottom: 0;
  margin-top: 0;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.sec1 {
  height: 800px;
  width: 100%;
}

.afoto {
  background-image: url(/images/imagen\ home.png);
  background-size: cover;
  height: 600px;
}

.atexto, .carousel-inner {
  text-align: center;
  color: #F28775;
  padding-top: 15px;
  margin-bottom: 0;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  height: 100%;
  line-height: 1.5rem;
}
.atexto p, .carousel-inner p {
  text-align: justify;
  font-size: 16px;
}

.carousel-inner {
  position: center;
  padding: 40px;
  text-align: center;
}

.contenedorcta {
  height: 100%;
  box-sizing: inherit;
  display: inline-block;
  float: none;
}
.contenedorcta p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  text-rendering: optimizeLegibility;
}

.sec2 {
  height: 400px;
}

.textsec2 {
  height: 100%;
}

.fotosec2 {
  background-image: url(/images/arnel-hasanovic-MNd-Rka1o0Q-unsplash.jpg);
  background-size: cover;
  height: 100%;
}

.footer {
  height: 100px;
  background-color: #F28775;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  color: #ffffff;
}

.jumbotronpod {
  background-image: url(https://images.unsplash.com/photo-1554200876-907f9286c2a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 80vh;
  border-radius: 0px;
  margin-bottom: 0;
}

.jumbotronpod h1 {
  width: 55%;
  margin-left: 20px;
  margin-top: 0;
  color: #ffffff;
  padding-top: 20px;
  display: grid;
}

.jumbotronpod p {
  font-size: 20px;
  color: #F28775;
  -webkit-animation-direction: initial;
          animation-direction: initial;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  padding-left: 20px;
  padding-right: 20%;
  display: block;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid #F7C289;
  color: gray-dark;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
  background-color: #F9D9C0;
  border: 1.5px solid rgb(218, 212, 212);
  border-radius: 20px;
  height: 30px;
  color: #ffffff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 50px;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  filter: contrast(100%);
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

.card__image--flowers {
  background-image: url(https://images.unsplash.com/photo-1607457561901-e6ec3a6d16cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
}

.card__image--river {
  background-image: url(https://we-care.mx/blog/wp-content/uploads/customer-experience-tere-lucio-830x830.jpg);
  background-position: bottom;
}

.card__image--record {
  background-image: url(https://m.media-amazon.com/images/S/dmp-catalog-images-prod/images/94685bf5-7363-4a61-8999-1777aaf4809e/94685bf5-7363-4a61-8999-1777aaf4809e-2142547557._SX576_SY576_BL0_QL100__UXNaN_FMjpg_QL85_.jpg);
}

.card__image--fence {
  background-image: url(https://www.hola.com/us/imagenes/es/lifestyle/2019082027179/mia-astral-astrologia-horoscopo-entrevista/0-198-815/Mia-Astral-headshot-t.jpg);
}

.card__title {
  color: gray-dark;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.jumbotronrec {
  background-image: url(https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 80vh;
  border-radius: 0px;
  margin-bottom: 0;
  text-align: left;
}

.jumbotronrec h1 {
  width: 55%;
  margin-left: 20px;
  margin-top: 0;
  color: #ffffff;
  padding-top: 20px;
  padding-right: 10px;
}

.jumbotronrec p {
  font-size: 20px;
  color: #F28775;
  -webkit-animation-direction: initial;
          animation-direction: initial;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  margin-left: 20px;
  padding-right: 700px;
}

/* Font */
html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.main {
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn--rec {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.autores {
  color: #ffffff;
  margin: 10px;
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
  margin-top: 1.25rem;
}

.made_by {
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

.jumbotronmis {
  background-image: url(/images/stock-photo-pleased-student-denim-shirt-books\ \(1\).jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 80vh;
  border-radius: 0px;
  margin-bottom: 0;
}

.jumbotronmis h1 {
  width: 55%;
  margin-left: 20px;
  margin-top: 0;
  color: #EAE48F;
  padding-top: 20px;
}

.jumbotronmis p {
  font-size: 20px;
  color: #ffffff;
  -webkit-animation-direction: initial;
          animation-direction: initial;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  padding-left: 20px;
  padding-right: 600px;
}

.jumbotronconta {
  background-image: url(/images/stock-photo-pleased-student-denim-shirt-books\ \(1\).jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 80vh;
  border-radius: 0px;
  margin-bottom: 0;
}

.jumbotronconta h1 {
  width: 55%;
  margin-left: 20px;
  margin-top: 0;
  color: #EAE48F;
  padding-top: 20px;
}

.jumbotronconta p {
  font-size: 20px;
  color: #ffffff;
  -webkit-animation-direction: initial;
          animation-direction: initial;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  padding-left: 20px;
  padding-right: 600px;
}

.form-group {
  padding-left: 400px;
  padding-right: 400px;
  align-items: center;
}

.btn {
  padding-left: 200px;
  padding-right: 270px;
  margin-left: 400px;
  background-color: #F28775;
  border: radius 30px;
  margin-bottom: 10px;
}/*# sourceMappingURL=estilos.css.map */